main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
}

.agendamento-content { 
    width: 100%; 
    max-width: 550px; 
}

.header-page { 
    text-align: center; 
    margin-bottom: 2rem; 
}

.header-icon { 
    color: #e63946; 
    font-size: 2.5rem; 
    margin-bottom: 10px; 
}

header-page h1 { 
    font-family: 'Oswald', sans-serif;
    color: white; 
    font-size: 2.2rem; 
    text-transform: uppercase;
}

