.sidebar {
    width: 280px;
    height: 100vh;
    background-color: #111111;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    border-right: 1px solid #1a1c1e;
    transition: all 0.3s ease;
}

.logo-text-container {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 1.5rem;
    margin-bottom: 3rem;
}